<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Просроченные задачи</title>
    <style type="text/css">
        table {
            border: 1px solid grey;
        }

        th {
            border: 1px solid grey;
        }

        td {
            border: 1px solid grey;
        }
    </style>
</head>
<body>
<h1>Список просроченных задач</h1>
<br>
<hr>
<br>
{% for assignee in assignees_tasks_list %}
<h2 style="color: #008000">Ответственный: {{ assignee.assignee_name }}</h2>
{% for project in assignee.projects %}
<h3 style="color: #DC143C">Проект: {{ project.project_name }}</h3>
<table>
    <thead>
    <tr>
        <th style="text-align: center;">Задача</th>
        <th>Срок выполнения</th>
        <th>Приоритет</th>
        <th>Ссылка</th>
    </tr>
    </thead>
    <tbody>
    {% for task in project.tasks %}
    <tr>
        <td style="text-align: left; width: 300px">{{ task.content }}</td>
        <td style="text-align: center; width: 100px">{{ task.due_date }}</td>
        <td style="text-align: center; width: 100px">{{ task.priority }}</td>
        <td style="width: 300px;"><a href={{ task.url }}>{{ task.url }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endfor %}
{% endfor %}
</body>
</html>


